{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block admin_content %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            {# Back Link #}
            <div class="mb-4 text-center text-lg-start">
                <a href="{{ path('app_product_index') }}" class="text-decoration-none text-secondary fw-bold">
                    <i class="fas fa-arrow-left me-2"></i> Back to Products
                </a>
            </div>

            {# Form Card #}
            <div class="card shadow-sm border-0 rounded-4 mx-auto w-100">
                <div class="card-body p-4 p-lg-5">

                    {# Product Form #}
                    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

                    {# Delete Form - Only show if user has delete permission #}
                    {% set can_delete = false %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set can_delete = true %}
                    {% elseif is_granted('ROLE_STAFF') %}
                        {% set creator = product.createdBy %}
                        {% set is_own = creator == app.user %}
                        {% set is_admin_product = 'ROLE_ADMIN' in creator.roles %}
                        {% if is_own or is_admin_product %}
                            {% set can_delete = true %}
                        {% endif %}
                    {% endif %}
                    
                    {% if can_delete %}
                        <div class="mt-3 text-center">
                            {{ include('product/_delete_form.html.twig', { product: product }) }}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}